*{
	padding: 0; margin: 0;
}

#console{
	width: 90%;
	height: 80%;
	min-height: 500px;
	background-color: black;
}
#console .title{
	padding: 10px;
	color: white;
	background-color: #525252;
}
#console .body{
	padding: 15px;
	color: white;
}